[submodule "submodules/catkin"]
	path = submodules/catkin
	url = git@github.com:lsolanka/catkin.git
	branch = hunterise
[submodule "submodules/message_generation"]
	path = submodules/message_generation
	url = git@github.com:lsolanka/message_generation.git
	branch = hunterise
[submodule "submodules/genmsg"]
	path = submodules/genmsg
	url = git@github.com:lsolanka/genmsg.git
	branch = hunterise
[submodule "submodules/gencpp"]
	path = submodules/gencpp
	url = git@github.com:lsolanka/gencpp.git
	branch = hunterise
[submodule "submodules/geneus"]
	path = submodules/geneus
	url = git@github.com:lsolanka/geneus.git
	branch = hunterise
[submodule "submodules/gennodejs"]
	path = submodules/gennodejs
	url = git@github.com:lsolanka/gennodejs.git
	branch = hunterise
[submodule "submodules/genlisp"]
	path = submodules/genlisp
	url = git@github.com:lsolanka/genlisp.git
	branch = hunterise
[submodule "submodules/genpy"]
	path = submodules/genpy
	url = git@github.com:lsolanka/genpy.git
	branch = hunterise
[submodule "submodules/roscpp_core"]
	path = submodules/roscpp_core
	url = git@github.com:lsolanka/roscpp_core.git
	branch = hunterise
